<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of legends champions</title>
</head>

<body>
  <header>
    <h1>
      My favorite champions on {{game_name}}
    </h1>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Champion name</th>
          <th>Lane</th>
        </tr>
      </thead>
      <tbody>
        {% for champion in champions %}
        <tr>
          <td>{{champion.name}}</td>
          <td>{{champion.lane}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </main>
</body>

</html>