<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a champion</title>
</head>

<body>
  <form method="post" action="/create">
    <fieldset id="add_favorite_champion">
      <legend>
        Add your favorite champion
      </legend>
      <input name="champion_name" type="text" placeholder="champion name" />
      <input name="champion_lane" type="text" placeholder="champion lane" />
      <button type="submit">Enviar</button>
    </fieldset>
  </form>
</body>

</html>