{% extends "base.html" %}
{% block content %}
<form method="post" action="/authenticate">
  <fieldset id="session" class="flex flex-col items-center justify-center gap-2 p-2">
    <legend>
      Add your favorite champion
    </legend>
    {{ form.csrf_token() }}
    {{form.username.label}}
    {{form.username(class="text-zinc-800 w-96", placeholder="Username")}}
    {{form.password.label}}
    {{form.password(class="text-zinc-800 w-96", placeholder="Type your password")}}
    {{form.login(class="bg-emerald-700 mix-blend-plus-lighter px-8 py-2")}}
  </fieldset>
</form>
{% endblock %}